
  #container {
    text-align: center;
    font-style: italic;
    color:white; 
    font-family:'Courier New', Courier, monospace;
  }

  #containert {
    position: absolute;
    left: 0px;
    right: 0px;
    transform: translateY(-50%);
    top: 50%;
    font-style: italic;
    font-size: 18px;
    color:#333333;
  }

  ion-button {
    --background: #e7007f;
    --color: rgb(255, 255, 255);
    --border-radius: 12px;
    font-style: italic;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  }  

  #containerb {
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    transform: translateY(-50%);
    top: 88%;
  }

