<ion-header>
  <ion-toolbar transparent="true">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>     
  </ion-toolbar>
</ion-header>
 

<ion-content id="container" >

  <h1>APP MUJER</h1>

  <ion-button type="submit" routerLink="/login" > Comenzar</ion-button>
  
  <!--   <ion-list>
    <ion-item *ngFor="let c of componentes" [routerLink]=" c.redirectTo " detail>
      <ion-icon [name]="c.icon" slot="start"></ion-icon>
      <ion-label>{{ c.name }}</ion-label>
    </ion-item>
  </ion-list> -->
   
</ion-content>
