
<ion-header>
  <ion-toolbar transparent="true">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>     
  </ion-toolbar>
</ion-header>
 

<ion-content>
  <ion-card>
    <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />
    <ion-card-header>
      <ion-item lines="full">
        <ion-label position="floating">Fecha Inicio</ion-label>
        <ion-input type="cc-exp-month" required></ion-input>
      </ion-item>
      <ion-item lines="full">
        <ion-label position="floating">Fecha Fin</ion-label>
        <ion-input type="cc-exp-month" required></ion-input>
      </ion-item>
    </ion-row>
    
  </ion-card>
</ion-content>
