<app-header titulo="Card"></app-header>


<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>CSS</ion-card-title>
      <ion-card-subtitle>¿Qué es?</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      CSS, en español «Hojas de estilo en cascada», es un lenguaje de diseño gráfico para definir y crear la
      presentación de un documento estructurado escrito en un lenguaje de marcado. </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title>HARDWARE</ion-card-title>
      <ion-card-subtitle>¿Qué es?</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content class="">
      El hardware, equipo o soporte físico​ en informática se refiere a las partes físicas, tangibles, de un sistema
      informático, sus componentes eléctricos, electrónicos, electromecánicos.
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title>SOFTWARE</ion-card-title>
      <ion-card-subtitle>¿Qué es?</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      Se conoce como software, ​ logicial o soporte lógico al sistema formal de un sistema informático, que comprende el
      conjunto de los componentes lógicos </ion-card-content>
  </ion-card>
  <ion-card>
    <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />
    <ion-card-header>
      <ion-card-title>LARAVEL</ion-card-title>
      <ion-card-subtitle>¿Qué es?</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      Laravel es un framework de código abierto para desarrollar aplicaciones y servicios web con PHP 5, PHP 7 y PHP 8.
    </ion-card-content>
  </ion-card>
</ion-content>